    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <p>You awaken in a haze, in the middle of the wilderness. You have no possessions on you,
               and no recollection of your surroundings or how you got here. There's a fear dwelling
               on the edge of your conscious awareness... A feeling that you were running from something
               quite dangerous. But there's no signs of a recent struggle, and you're uninjured.
               <br><br>
               It looks like you'll have to look around and get your bearings first. (Press "Explore" to
               discover new locations. Location difficulty and rewards are based on your level when you
               first discover them.)
            </p>
            <div class="explore btn btn-default">Explore</div>
        </div>
    </div>